/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/data_source_mapping.xml
/.idea/dataSources.xml
/.idea/db-forest-config.xml
/.idea/deployment.xml
/.idea/php.xml
/.idea/copilotDiffState.xml
/.idea/remote-mappings.xml
/.idea/laravel-idea-personal.xml
/.idea/webResources.xml
/.idea/copilotDiffState.xml
/.idea/remote-mappings.xml
/.idea/laravel-idea-personal.xml
/.idea/webResources.xml
/.idea/sshConfigs.xml

/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/blobul-ASSO_BO.iml
/.idea/modules.xml
/.idea/vcs.xml
!/.github/
/vendor/
